<% if @total == 0 %>

<p>No items found...</p>

<% else %>

<p>Number of items found : <b><%= @total %></b></p>

<p>
<% if @items_pages > 1 %>
Page&nbsp;:
<%= pagination_links_remote @items_pages %>
<% end %>
</p>


<table>
  <thead>
    <tr>
      <td <%= sort_td_class_helper "condition" %>>
        <%= sort_link_helper "Condition", "condition" %>
      </td>
      <td>Drug of Choice</td>
      <td>Category</td>
      <td></td>
      <td <%= sort_td_class_helper "author" %>>
        <%= sort_link_helper "Author", "author" %>
      </td>
      <td <%= sort_td_class_helper "created" %>>
        <%= sort_link_helper "Created", "created" %>
      </td>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |post| %>
    <tr class="no_sig">
      <td><b><%= link_to truncate(post.name, :length => 30), treatment_url(:id => post.id) %></td></b>
      <td><%= post.drug_of_choice %></td>
      <td><b>
        <% for tag in post.tags %>
          <%= link_to tag.name, :action => 'show', :controller => 'tags', :id => tag.id %>
        <% end %> </td></b>
      <td><%= link_to post.creator.name, user_url(:id => post.created_by) %></td>
      <td><%= nice_date post.created_at %></td>
      <td><% c = post.comments %>
        <% if c.count == 0 %>
           None
        <% else %>
          <%= pluralize c.size, 'comment' %>
          <% unless c.detect {|com| !com.agree.nil? }.nil? %><!-- unless none of the comments have votes -->
            <br />
            <% num_yes = c.find_all{|com| com.agree}.length %>
            <% num_no = c.find_all{|com| com.agree == false}.length %>
            <%= link_to "#{(num_yes*100)/(num_yes + num_no)}% agree",
                        :action => 'show', :controller => post.class.to_s.downcase + "s", :id => post %>
            <br /><small> (<%= num_yes %> / <%= num_yes + num_no %> people) </small>
          <% end %>
        <% end %>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>

<% end %>

