<% standard_form :post, @post do |f| %>

   <span>Title:</span><input type="text" name="title" size="30" />
   <span>Evidence:</span><input type="text" name="evidence" size="30" />
   <span>Significance:</span><input type="text" name="significance" size="30" />

   <div id="conditions">
     <label>Conditions <a href="#" onClick="appendToElement('Ajax_conditions', 'condition');" title="Add a condition">+</a> <br /></label>
   <ul id="Ajax_conditions">
     <!-- if user adds more members details, JS will populate this section -->
     <li> <span>Type:</span>
     <%= select_tag "condition_type",
       options_for_select([ 'Age', 'Dxcode', 'Sex', 'Drugs', 'Notes' ]), 'style="width:20px"' %>
     <%= select_tag "condition_target",
         options_for_select([ 'All', 'Any', 'Not', 'Not Any', 'Not All' ]) %>
     <%= text_field_tag "condition_text", '', :size => 10 %> <br /> </li>
   </ul>
   </div>

   <div id="consequence">
     <label>Consequences <a href="#" onClick="appendToElement('Ajax_consequences', 'consequence');" title="Add a consequence">+</a> <br /></label>
   <ol id="Ajax_consequences">
     <!-- if user adds more members details, JS will populate this section -->
     <li> <span>Warning:</span>
     <%= select_tag "warning_type",
         options_for_select([ 'Stregth', 'Recommendation', 'Warning' ]) %>
     <%= text_field_tag "warning_text" %> <br /> </li>
   </ol>
   </div>

<%= standard_submit %>

<script type="text/javascript">
  function appendToElement(field, from) {
    var oAjax=new Ajax.Updater(field, from, { insertion: Insertion.Bottom }); 
  }
</script>

<% end %>
