<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "lightwindow" %>

<body class='drug_search'>
  <%= text_field_tag "controller_name", "Guideline", :type => "hidden" %>

  <div id='form_wrapper'>
    <div class='search'>
      <label>
        <span id='searching_by'>Brand Name</span>
      </label>
      <input id='drugtext' name='drugtext' type='text' onkeypress='SearchDiv.enterMeansSearch(event);'>
      <%= button_to_function "Search", "SearchDiv.searchForResults('brandname')", :id => 'search_button' %>
      <img id="spinner" style="display: none;" src="/images/spinner.gif" />
      <span id='alt_search_link'>
        <a href="#" onclick="SearchDiv.byIngredient(); return false;">Search By Active Ingredient (Generic Name)</a>
      </span>
      <div id='results'></div>
    </div>
  </div>
</body>
