<%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "lightwindow" %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "lightwindow" %>
<%= javascript_include_tag "guideline_dynform" %>

<body class='drug_search'>
  <%= text_field_tag "controller_name", "guidelines", :type => "hidden" %>

  <div id='form_wrapper'>
    <div class='search'>
      <label>
        <span id='searching_by'>Brand Name</span>
      </label>
      <input id='drugtext' name='drugtext' type='text' onkeypress='SearchDiv.enterMeansSearch(event);'>
      <%= button_to_function "Search", "SearchDiv.searchForResults('brandname')", :id => 'search_button' %>
      <img id="spinner" style="display: none;" src="/images/spinner.gif" />
      <span id='alt_search_link'>
        <a href="#" onclick="SearchDiv.byIngredient(); return false;">Search By Active Ingredient (Generic Name)</a>
      </span>
      <div id='results'></div>
    </div>

    <br />
    <label>Currently selected drugs:</label> <hr>
    <ul id="post_drug_refs">
      <% for atc in @drug_atc %>
        <li><span class='atc_code'><%= atc %></span>
        <span class='atc_class'></span>
        <a onclick="$(this).up('li').remove(); return false;" href="#">Remove from post</a></li>
      <% end %>
    </ul>

    <br />
    <%= button_to_function "Apply", "#", :style => "width: 50px", :onClick => "insertDrug();" %>
  </div>
</body>
