<%= javascript_include_tag 'guideline_dynform' %>
<%= javascript_include_tag 'prototype.rsv' %>

<div id='form_wrapper'>

<% guideline_form :post, @post do |f| %>
  <%= text_field_tag "uuid", @uuid, :type => "hidden" %>
  <%= text_field_tag "g_id", @post.id, :type => "hidden" %>
  <%= text_field_tag "method", 'update', :type => "hidden" %>

  <label>Title</label><%= text_field_tag "title", @page_title %>
  <label>Evidence</label><%= text_field_tag "evidence", @evidence %>
  <label>Significance</label><%= text_field_tag "significance", @significance %>

  <div id="conditions">
    <label>Conditions <a href="#" onClick="appendToElement('Ajax_conditions', '/guidelines/condition');" title="Add a condition">+</a> <br /></label>
    <ul id="Ajax_conditions">
      <li> <%= @conditions %></li>
      <% unless @consequences.nil? %>
        <% for c in @conditions %>
          <li class='fields'> <span>Type:</span>
            <p><%= c %></p>
            <%= select_tag 'condition_type',
              options_for_select([ 'Age', 'Dxcode', 'Sex', 'Drugs', 'Notes' ], c['type']), :style => "width:80px" %>
            <% c.delete("type").attributes.each do |attname, attval| %>
              <%= select_tag "condition_target",
                  options_for_select([ 'All', 'Any', 'Not', 'Not Any', 'Not All' ], attname), :style => "width:80px" %>
              <%= text_field_tag "condition_text", attval, :style => "width:260px;display:inline", :onClick => "drugBox(this)" %>
            <% end %>
            <%= hidden_field_tag 'condition_detail' %>
            <%= link_to_function '(Remove)', "$(this).up('li').remove()" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div id="consequences">
    <label>Consequences <a href="#" onClick="appendToElement('Ajax_consequences', '/guidelines/consequence');" title="Add a consequence">+</a> <br /></label>
    <ol id="Ajax_consequences">
      <% unless @consequences.nil? %>
        <% for c in @consequences %>
        <li class='fields'> <span>Warning:</span>
          <%= select_tag "warning_strength",
              options_for_select([ 'Recommendation', 'Warning' ], c['strength']), :style => "width:130px" %>
          <%= text_field_tag "warning_text", c['text'], :style => "width:280px;display:inline" %>
          <%= link_to_function '(Remove)', "$(this).up('li').remove()" %> </li>
        <% end %>
      <% end %>
    </ol>
  </div>

  <label>Reference</label><%= text_field_tag "reference", @post.reference %> <% @post.reference = ""%>

<input id='commit' type="submit" value="Save Guideline" name="commit">
<span> or </span> <%= link_to "Delete", { :action => 'show' }, :method => :delete, 
            :confirm => "Are you sure?", :class => "delete", :style => "display:inline" %>

<% end %>
</div>
