<%= javascript_include_tag 'new_guideline_dynform' %>

<div id='form_wrapper'>

<% guideline_form :post, @post do |f| %>

  <label>Title</label><%= text_field_tag "title" %>
  <label>Evidence</label><%= text_field_tag "evidence" %>
  <label>Significance</label><%= text_field_tag "significance" %>

  <div id="conditions">
    <label>Conditions <a href="#" onClick="appendToElement('Ajax_conditions', 'condition');" title="Add a condition">+</a> <br /></label>
  <ul id="Ajax_conditions">
    <li class='fields'> <span>Type:</span>
    <%= select_tag 'condition_type',
      options_for_select([ 'Age', 'Dxcode', 'Sex', 'Drugs', 'Notes' ]), :style => 'width:80px' %>
    <%= select_tag 'condition_target',
      options_for_select([ 'All', 'Any', 'Not', 'Not Any', 'Not All' ]), :style => 'width:80px' %>
    <%= text_field_tag 'condition_text', '', :style => 'width:260px;display:inline' %> 
    <%= hidden_field_tag 'destroy_condition', 0 %>  
    <%= link_to_function '(Remove)', 'remove_fields(this)' %>
  </li>
  </ul>
  </div>

  <div id="consequences">
    <label>Consequences <a href="#" onClick="appendToElement('Ajax_consequences', 'consequence');" title="Add a consequence">+</a> <br /></label>
  <ol id="Ajax_consequences">
    <li class='fields'> <span>Warning:</span>
    <%= select_tag "warning_strength",
        options_for_select([ 'Recommendation', 'Warning' ]), :style => "width:130px" %>
    <%= text_field_tag "warning_text", '', :style => "width:280px;display:inline" %> 
    <%= hidden_field_tag 'destroy_consequence', 0 %>  
    <%= link_to_function '(Remove)', 'remove_fields(this)' %> </li>
  </ol>
  </div>

<input id='commit' type="submit" value="Save Guideline" name="commit">

<% end %>
</div>
