<div id="form_container" <% if @edit_on %>class="active"<% end %>>
  <div id="cancel_link"><%= link_to_function "Cancel", "PostForm.toggle()", :class => 'delete small' %></div>
  <div id="new_link"><% if logged_in? and current_user.valid? and can_edit? @post %><span>&nbsp;&nbsp;</span><%= link_to_function "Edit", "PostForm.toggle()", :class => 'create' %><% end %></div>
  <div id="meta">
  	Posted <%= nice_date @post.created_at %> by <b><%= link_to @post.creator.name, user_url(:id => @post.creator), { 'class' => 'grey' } %></b>
	
  </div>
  <%= render :partial => 'form' %>
 </div>

<h3>XML Body</h3>
<div id="xml_blob">
 <%= h @post.body %>
</div>

<%= render :partial => "comments/comments", :comments => @post.comments %>
