<% if logged_in? and can_edit? @post %>
  <%= link_to "Edit", edit_guideline_url(@post), :class => 'new_post' %>
<% end %>

<div id="meta">
  Posted <%= nice_date @post.created_at %> by <b><%= link_to @post.creator.name, user_url(:id => @post.creator), { 'class' => 'grey' } %></b>
</div>
	
<% if @invalid %>
  <br />
  Invalid XML Body.
<% else %>
  <% unless @evidence.nil? %>
    <h3>Evidence</h3>
    <%=h @evidence %>
  <% end %>

  <% unless @significance.nil? %>
    <h3>Significance</h3>
    <%=h @significance %>
  <% end %>

  <% unless @conditions.empty? %>
  <h3>Conditions</h3>
  <ul>
    <% for c in @conditions %>
      <li><b><%=h c["type"].capitalize %></b> -- 
        <% if c["type"].capitalize != "Drugs" and c["type"].capitalize != "Dxcodes" %> 
          <% c.delete("type").attributes.each do |attname, attval| %>
            <b><%=h (attname[0..2].capitalize + " " + attname[3..5].capitalize).strip %></b>: 
            <%=h attval %> 
          <% end %>
        <% else %>
          <% c.delete("type").attributes.each do |attname, attval| %>
            <% if attname != "desc" %>
              <b><%=h (attname[0..2].capitalize + " " + attname[3..5].capitalize).strip %></b>: 
              <%=h attval %>
            <% end %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% end %>

  <% unless @consequences.empty? %>
  <h3>Consequence</h3>
  <ol>
    <% for c in @consequences %>
      <li><b><%=h c["name"].capitalize %></b>
      <% c.delete("name").attributes.each do |attname, attval| %>
        <br /><b><%=h attname.capitalize %></b>: <%=h attval %>
      <% end %>
      </li>
    <% end %>
  </ol>
  <% end %>
<% end %>

<% unless @post.reference.nil?%>
  <h3>Reference</h3>
  <p> <%= link_to h(@post.reference), @post.reference %> </p>
<% end %>

<% if @post.all_versions.length > 1 %>
  <% versns = @post.all_versions.sort_by {|g| g.id} %>
  <% versns.delete(@post) %>
  <h3>Other Versions</h3>
  <ol>
    <% for v in versns %>
      <li>
        <% if v.name.nil? or v.name == "" %>
          <%= link_to 'No Name', guideline_path(v.id) %>
        <% else %>
          <%= link_to h(v.name), guideline_path(v.id) %>
        <% end %>
      </li>
    <% end %>
  </ol>
<% end %>
<%= render :partial => "comments/comments", :comments => @post.comments %>
