<% standard_form :post, @post do |f| %>
  <p><font color="purple"><b>Please type at least three characters and wait patiently for 
 autocomplete to find your drug. 
 <p>Also, avoid using backspace as it will slow down autocomplete tenfold.</b></font></p>
  <label for="brandname">Drug Name</label>
 <input id='brandname' type='text' class='standard'>
<div class="auto_complete" id="auto_complete_name"></div>
      <script type="text/javascript">;
        new Ajax.Autocompleter('brandname', 'auto_complete_name', '/posts/auto_complete',
        { minChars: 3,
          frequency: 0.4,
          paramName: 'drugtext',
          updateElement: function(selected) {
          Element.cleanWhitespace(selected);
          dn = selected.childNodes;
          $('brandname').value = dn[0].firstChild.nodeValue;
          $('post_drug_refs_attributes_0_drug_identification_number').value = dn[2].firstChild.nodeValue;
        } } );
      </script>

<% f.fields_for :drug_refs do |dr| %>
  <label>DIN (read only)</label>
  <%= dr.text_field :drug_identification_number, :readonly => true %>
  <%= dr.hidden_field :label, :value => 'Bulletin' %>
<% end %>

<%= f.text_field :news_source, :label => "News Source (e.g. Company Name)" %>
<%= f.text_field :news_date, :label => "News Date" %>
<%= f.text_area :body, :label => "Brief Description (e.g. Subject of e-mail)" %>
<%= f.text_field :reference, :label => "Reference (if available)" %>
  <%= standard_submit %>
<% end %>
</form>
