<div id="form_container" <% if @edit_on %>class="active"<% end %>>
  <div id="cancel_link"><%= link_to_function "Cancel", "PostForm.toggle()", :class => 'delete small' %></div>
  <div id="new_link"><% if logged_in? and current_user.valid? and can_edit? @post %><span>&nbsp;&nbsp;</span><%= link_to_function "Edit", "PostForm.toggle()", :class => 'create' %><% end %></div>
  <div id="meta">
  	Posted <%= time_ago_in_words @post.created_at %> ago by <b><%= link_to @post.creator.name, user_url(:id => @post.creator), { 'class' => 'grey' } %></b>
	
  </div>
  <%= render :partial => 'form' %>
 </div>
 <h3>ATC Code</h3>
  <%= @atc unless @atc.nil? %>
  <h3>News Source</h3>
   <div id="detail"><%= simple_format(@post.news_source) if @post.news_source.any? %></div>
  <h3>News Date</h3>
   <div id="detail"><%= simple_format(@post.news_date) if @post.news_date.any? %></div>
  <h3>Brief Description</h3>
  <div id="detail">
 <%= simple_format(@post.body) if @post.body.any? %></div>
  <% if @post.reference.any? %>
  <h3>Reference</h3>
   <div id="detail">
  <% if @post.reference[0..6] == "http://" %>
<a href="<%= @post.reference %>"><%= truncate(@post.reference, 50) %></a>
  <% else %>
  <%= @post.reference %>
  <% end %>
</div>
  <% end %>
<%= render :partial => "comments/comments", :comments => @post.comments %>
